.moderation-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 100%;
}

.moderation-layout .card {
    height: 100%;
}

.moderation-settings-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.moderation-settings-col .card {
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.moderation-settings-col .card:first-child .form-group:first-of-type {
    flex: 1;
}

#autoMessage {
    flex: 1;
    resize: none;
    min-height: 100px;
}

#saveAutoMessage,
#saveClipConfig {
    margin-bottom: 12px;
    margin-top: 10px;
    flex: 1;
}

.moderation-layout .interactive-header .header-main-controls .form-group:first-child {
    flex-grow: 1;
    min-width: 0;

}

.moderation-layout .interactive-header .header-main-controls button,
.moderation-layout .interactive-header .header-main-controls .controls {
    flex-shrink: 0;
}